{% extends "map/base.html" %}
{% block content %}

    <div class="container-fluid">
        <div class="row">
                <div class="" id='map' style='height: 75vh; width:100vw;'></div>
        </div>
    </div>

    <div class="container mt-5" ">
        <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Autore</th>
                        <th scope="col">Latitudine</th>
                        <th scope="col">Longitudine</th>
                        <th scope="col">Data</th>
                        <th scope="col">Acc(x)</th>
                        <th scope="col">Acc(y)</th>
                        <th scope="col">Acc(z)</th>
                        <th scope="col">Acc. module</th>
                    </tr>
                </thead>
                <tbody>
                        {% for row in righe %}
                            <tr>
                                <th scope="row">{{ row.user }}</th>
                                <td>{{ row.lat }}</td>
                                <td>{{ row.lon }}</td>
                                <td>{{ row.time|date:"F d, Y" }}</td>
                                <td>{{ row.intensity_x }}</td>
                                <td>{{ row.intensity_y }}</td>
                                <td>{{ row.intensity_z }}</td>
                                <td>{{ row.intensity_module }}</td>
                            </tr>
                        {% endfor %}
                        
                        

                </tbody>
        </table>
    </div>
      

    <script src='https://api.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css' rel='stylesheet' />
      <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiZWRyaWQiLCJhIjoiY2swd2c4M2lzMDA2cDNncGlxd29jc3QydCJ9.Qxj5iEFCVnQ4ggPK9I0STA';
        var map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/streets-v11',
          center: [ 11.2558, 43.7696 ],
          zoom: 12.5,
        });

        {% for row in rows %}
            var str = '<p>Latitudine: {{row.lat}} </p><p> Longitudine: {{row.lon}} </p><p> Data: {{ row.time|date:"F d, Y" }} </p><p> Author: {{row.user}}</p>'
            var marker = new mapboxgl.Marker().setLngLat([{{row.lon}}, {{row.lat}}]).addTo(map)
            var popup = new mapboxgl.Popup().setHTML(str)
            marker.setPopup(popup)  
        {% endfor %}

        


      </script>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    

{% endblock content %}