{% extends "map/base.html" %}
{% block content %}

    <div class="container-fluid">
        <div class="row">
                <div class="" id='map' style='height: 75vh; width:100vw;'></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
                <div class="col-2 pt-3">
                <h2 class="text-info">↓ Opzioni: </h2>
            </div>
            
            <div class="col-2 pt-4">
                <h4 class="text-secondary">Veicolo: </h4>
                <div class="pl-4 mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="bicicheck">
                        <label class="form-check-label" for="bicicheck">
                        Bicicletta
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="macchinacheck">
                        <label class="form-check-label" for="macchinacheck">
                        Macchina
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-2 pt-4">
                <div class="form-group">
                    <label for="example-number-input" class="col-form-label">Modulo minimo: </label>
                    <div class="">
                        <input class="form-control" type="number" value="0" id="modmin">
                    </div>
                </div>
            </div>
            <div class="col-2 pt-4">
                    <div class="form-group">
                        <label for="example-number-input" class="col-form-label">Modulo Massimo: </label>
                        <div class="">
                            <input class="form-control" type="number" value="1000" id="modmax">
                        </div>
                    </div>
                </div>
            <div class="col-1 pt-5">
                <button type="button" class="btn btn-primary" onclick="filter()">Filtra</button>

            </div>

        </div>
    </div>
      

    <script src='https://api.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css' rel='stylesheet' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>

      <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiZWRyaWQiLCJhIjoiY2swd2c4M2lzMDA2cDNncGlxd29jc3QydCJ9.Qxj5iEFCVnQ4ggPK9I0STA';
        var map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/streets-v11',
          center: [ 11.2558, 43.7696 ],
          zoom: 12.5,
        });
        document.getElementById("macchinacheck").checked = true
        document.getElementById("bicicheck").checked = true
        var reports = {{ rows_js|safe }} 
        //var temp = reports[1].fields.lat
        //alert(temp)
        //alert(reports[1].lat)
        var light_green = "#90ee90"
        var green = "#00a634"
        var yellow = "#ffff00"
        var orange = "#ff7512"
        var red = "#ff7512"
        var black = "#2e1f21"
        var allMarkers = []
        var vehicle = "Default"
        for(var row of reports){
            let data = row.fields.time
            var dateFormatted = (moment(data)).format('YYYY-MM-DD hh:mm')

            if(row.fields.vehicle_type == 0){
                vehicle = "Bicicletta"
            } else if(row.fields.vehicle_type == 1){
                vehicle = "Macchina"
            }
            var str = '<h6>Latitudine:'+ row.fields.lat + '</h6><h6> Longitudine: '+ row.fields.lon+'</h6><h6> Data: '+ dateFormatted +'</h6><h6>Modulo: '+row.fields.intensity_module+'</h6><h6>Veicolo: '+ vehicle +'</h6>'
            color = "#000000"
            if(row.fields.intensity_module < 16){
                color = light_green;
            } else if(row.fields.intensity_module >= 16 && row.fields.intensity_module < 25){
                color = green;
            } else if(row.fields.intensity_module >= 25 && row.fields.intensity_module < 35){
                color = yellow;
            } else if(row.fields.intensity_module >= 25 && row.fields.intensity_module < 35){
                color = orange;
            } else if(row.fields.intensity_module >= 35 && row.fields.intensity_module < 45){
                color = red;
            } else {
                color = black;
            }

            var marker = new mapboxgl.Marker(
                {
                    'color': color,
                },
            ).setLngLat([row.fields.lon, row.fields.lat])
            marker.addTo(map)
            
            var popup = new mapboxgl.Popup().setHTML(str)
            marker.setPopup(popup)  
            allMarkers.push(marker)
        
        }
        //FIXME/NOTA PER ME: il blocco sopra è ripetuto, ma lo mantengo, nel caso ci fossero campi nulli; altrimenti potrebbe essere eliminato chiamando semplicemente la funzione filter
        
        
    function filter(){
        for(marker of allMarkers){
            marker.remove();
        }
        allMarkers = []

        min = document.getElementById('modmin').value
        max = document.getElementById('modmax').value

        //alert(min + ", " + max)

        var bici = document.getElementById('bicicheck').checked
        var macchina = document.getElementById('macchinacheck').checked
        var count = 0
        for(var row of reports){

            let data = row.fields.time
            var dateFormatted = (moment(data)).format('YYYY-MM-DD hh:mm')


            if(row.fields.vehicle_type == 0){
                vehicle = "Bicicletta"
            } else if(row.fields.vehicle_type == 1){
                vehicle = "Macchina"
            }
            if(row.fields.intensity_module > min && row.fields.intensity_module < max){
                var str = '<h6>Latitudine:'+ row.fields.lat + '</h6><h6> Longitudine: '+ row.fields.lon+'</h6><h6> Data: '+ dateFormatted +'</h6><h6>Modulo: '+row.fields.intensity_module+'</h6><h6>Veicolo: '+ vehicle +'</h6>'
                color = "#000000"
                if(row.fields.intensity_module < 16){
                    color = light_green;
                } else if(row.fields.intensity_module >= 16 && row.fields.intensity_module < 25){
                    color = green;
                } else if(row.fields.intensity_module >= 25 && row.fields.intensity_module < 35){
                    color = yellow;
                } else if(row.fields.intensity_module >= 25 && row.fields.intensity_module < 35){
                    color = orange;
                } else if(row.fields.intensity_module >= 35 && row.fields.intensity_module < 45){
                    color = red;
                } else {
                    color = black;
                }
                
                if(bici && row.fields.vehicle_type == 0){
                    count+=1
                    var marker = new mapboxgl.Marker(
                    {
                        'color': color,
                    },
                    ).setLngLat([row.fields.lon, row.fields.lat])
                    marker.addTo(map)
                    
                    var popup = new mapboxgl.Popup().setHTML(str)
                    marker.setPopup(popup)  
                    allMarkers.push(marker)

                }
                if(macchina && row.fields.vehicle_type == 1){
                    count+=1
                    var marker = new mapboxgl.Marker(
                    {
                        'color': color,
                    },
                    ).setLngLat([row.fields.lon, row.fields.lat])
                    marker.addTo(map)
                    
                    var popup = new mapboxgl.Popup().setHTML(str)
                    marker.setPopup(popup)  
                    allMarkers.push(marker)


                }

                
            }
            //else, do nothing
        }


    }

      </script>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    

{% endblock content %}