{% extends "map/base.html" %}
{% block content %}

    <div class="container mt-5">
        <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Autore</th>
                        <th scope="col">Latitudine</th>
                        <th scope="col">Longitudine</th>
                        <th scope="col">Data</th>
                        <th scope="col">Acc(x)</th>
                        <th scope="col">Acc(y)</th>
                        <th scope="col">Acc(z)</th>
                        <th scope="col">Acc. module</th>
                        <th scope="col">Veicolo*</th>
                    </tr>
                </thead>
                <tbody>
                        {% for row in rows %}
                            <tr>
                                <th scope="row">{{ row.user }}</th>
                                <td>{{ row.lat }}</td>
                                <td>{{ row.lon }}</td>
                                <td>{{ row.time|date:"F d, Y" }}</td>
                                <td>{{ row.intensity_x }}</td>
                                <td>{{ row.intensity_y }}</td>
                                <td>{{ row.intensity_z }}</td>
                                <td>{{ row.intensity_module }}</td>
                                <td>{{ row.vehicle_type }}</td>
                            </tr>
                        {% endfor %}
                        
                        

                </tbody>
        </table>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    

{% endblock content %}